.gradient-move { animation: gradient-move 10s linear infinite; }
@keyframes gradient-move {
 0% {
   background-position: 0% 0%;
 }
 100% {
   background-position: 100% 100%;
 }
}
#gradient {
 z-index: 9;
 /* add another 100% for each new color,
 always repeat the first two colors in the array*/
 background-size: 400% 400%;
 background-image: linear-gradient(140deg, #7611B6, #563BA4, #3A4AAA, #7611B6, #563BA4);
}
.absolute-fill {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
}
.spinner {
 width: 4rem;
 height: 4rem;
 border-top: 3px solid rgba(255,255,255, .5);
 border-right: 3px solid transparent;
 border-radius: 50%;
 animation: rotation .8s linear infinite;
}
@keyframes rotation{
 from{
   transform: rotate(0deg);
 }
 to{
   transform: rotate(360deg);
 }
}
.fade-in { animation: fade-in 0.25s linear forwards; }
@keyframes fade-in {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
.fade-out { animation: fade-out 0.25s linear forwards; }
@keyframes fade-out {
 0% {opacity: 1;}
 100% {opacity: 0;}
}



